.section {
  margin-bottom: 32px;
}

.sectionTitle {
  display: flex;
  align-items: center;
}

.subtitle {
  color: #637381;
  font-size: 14px;
  font-weight: normal;
}

.sectionContent {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
